section {
  padding: 2rem;
  background: #333;
  color: #fff;

  .img-wrapper {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    width: calc(100% - 1rem);
    max-width: 600px;
    img {
      max-width: 100%;
    }
  }
}
