section {
  padding: 2rem;
  background: white;
  color: rgb(84, 84, 240);

  .img-wrapper {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    width: calc(100% - 1rem);
    max-width: 600px;
    img {
      max-width: 100%;
    }
  }
}